@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gray-300 {
  padding: 4px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 234px;
}

.optionsss {
  position: absolute;
  color: blue;
  top: 310px;
  left: 330px;
}

.optionsss button {
  margin-left: 15px;
}
